<!doctype html>
<html lang="en">
<head>
    <title>Github users</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>Github user list</h1>

<div style="width: 80%;">{{ pagination.links }}</div>
<br/>
<table class="table">
    <thead>
        <tr class="table__header">
            <th class="table__cell">img</th>
            <th class="table__cell">id</th>
            <th class="table__cell">name</th>
            <th class="table__cell">type</th>
        </tr>
    </thead>
    <tbody>
        {% for r in user_list %}
        <tr class="table__row">
            <td class="table__cell"><a href="{{ r.profile }}"><img class="img__cell" src="{{ r.image_url }}" loading="lazy" alt="avatar of {{ r.user }}" /></a></td>
            <td class="table__cell">{{ r.id }}</td>
            <td class="table__cell">{{ r.user }}</td>
            <td class="table__cell">{{ r.typ3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="width: 80%;">{{ pagination.links }}</div>
</body>
</html>